<article class="card card--list push--bottom">
    <header class="align--center">
        <div class="card__date txt--x-small flush--top push_quarter--bottom txt--subtle">
            <span>{{ date }}</span>
        </div>
        <h2 class="hdg hdg--x-large flush--top">{{ title }}</h2>
    </header>

    <div class="card__content" dir="auto">
        {{ content }}
    </div>

    <a class="card__link" aria-label="Post: {{ title }}" href="{{ article_url }}">Read more</a>

    <div class="card__more txt--x-small" aria-hidden="true">
        <span class="btn btn--subtle">Read more</span>
    </div>
</article>
